// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.chatroom-card {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;

}

#messages {
    overflow: scroll;
    height: 70vh;
    padding: 10px;
}

.message-container {
    margin-top: 5px;
    padding: 10px;
    background-color: white;
    width: 40%;
    border-radius: 5px;
}

.from-self {
    margin-left: auto; 
    margin-right: 0;
    background-color: rgb(7, 137, 206);
    color: white;
}